@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "cartiva";
  default: true;

  --color-primary: #2563EB;
  --color-secondary: #7C3AED;
  --color-accent: #A855F7;

  --color-neutral: #1F2937;
  --color-base-100: #FFFFFF;
  --color-base-200: #F8FAFC;
  --color-base-300: #E2E8F0;

  --color-info: #3B82F6;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;
}